@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header_nav {
    height: 77px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
    border: 0 !important;
}

.nav-text {
    font-weight: 600;
    font-size: 18px;
    color: #7D7D7D;
    margin: 0 10px;
}

.btn_sign {
    color: #5D78FF;
    font-weight: 400;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn_blue {
    min-width: 149px;
    height: 41px;
}

.btns {
    background-color: #5D78FF;
    color: white;
    font-weight: 400;
    font-size: 18px;
    border-radius: 8px;
    padding: 6px 24px;
    border: none;
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
}

main {
    padding-top: 77px;
}

.banner {
    display: flex;
    flex-direction: column;
    background-color: #e2f2ff;
    border-radius: 10px;
    padding: 20px 10px;

}

.text_title {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 16px;
    color: #001e41;
    margin-top: 0;
}

.text_title_content,
.text_title_content_p {
    color: #001e41;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.text_title_content_p {
    font-weight: 400;
    color: #919191;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 10px;
}

.btn_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 16px auto;
    min-width: 185px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0em;
    color: #fff;
}

.block_icons {
    margin-bottom: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.block_icons_item {
    margin-right: 24px;
    margin-bottom: 15px;
    height: 28px;
    display: flex;
    align-items: center;
}

.col_1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}

.col_2 {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
}

.col_3 {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 7;
}

.col_4 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
}

.col_5 {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 7;
}

.block_img {
    position: relative;
    padding: 0px;
}

.img {
    display: block;
    margin: 0 auto;
    border-radius: 19px;
    width: 230px;
    height: 275px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.diagram {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.12);
    background: rgba(241, 247, 255, 0.9);
}

.diagram_one {
    position: absolute;
    top: 70%;
    left: 12%;
    width: 102px;
    height: 55px;
    transform: rotate(-7deg);
    animation: fadeIn 1s forwards;
}

.diagram_two {
    position: absolute;
    top: -2%;
    left: 11%;
    transform: rotate(-5deg);
    border-radius: 6px;
    width: 107px;
    height: 82px;
    animation: fadeIn 1s 0.5s forwards;
}

.diagram_three {
    position: absolute;
    top: 17%;
    left: 65%;
    width: 96px;
    height: 50px;
    transform: rotate(7deg);
    animation: fadeIn 1s 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* <!-- slider --> */

.block_slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5pxg;
}

.text_title_slider {
    font-weight: 400;
    font-size: 20px;
    color: #909090;
    margin-top: 0;
}

.text_title_slider_span {
    color: #001e41;
}

.block_arrow {
    display: none;
}

.box-card {
    display: flex;
}

.slider_card {
    width: 340px;
    height: 372px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background: #f8f8fa;
    margin-right: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.rolle {
    width: 219px;
    height: 219px;
    border-radius: 50%;
    background: #E3EEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70%;
    left: 60%;
}

.text_rolle {
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 12%;
    left: 25%;
}

.card_title {
    font-weight: 600;
    font-size: 18px;
    color: #001e41;
    margin-bottom: 20px;
    margin-top: 0;
}

.card_text {
    font-weight: 400;
    font-size: 14px;
    color: #001e41;
}

.button_prev,
.button_next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #5D78FF;
    cursor: pointer;
    margin: 0 5px;
}

.vector {
    max-width: 100%;
    max-height: 100%;
}

.data {
    display: flex;
    flex-direction: column;
}

.btn_boost {
    width: 260px;
    height: 40px;
}

.text_end {
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0em;
    color: #001e41;
    font-size: 12px;
    text-align: center;
}

/* modal */



.title_modal {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #001e41;
    margin: 0 60px;
    padding-bottom: 10px;
}

.text_modal {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: center;
    color: #001e41;
}

.label_text {
    font-weight: 600;
    font-size: 9px;
    line-height: 130%;
    letter-spacing: 0em;
    color: #909090;
}

.icon_mod {
    width: 20px;
    height: 15px;
}

input.form-control {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0em;
    color: #bdbdbd;
}

.text_check {
    font-weight: 400;
    font-size: 9px;
    color: #909090;
    text-align: center;
}

.btns_light {
    background-color: #aed1ff;
    color: white;
    font-weight: 400;
    font-size: 18px;
    border-radius: 8px;
    padding: 6px 24px;
    border: none;
    cursor: pointer;
}


.text_by {
    font-weight: 400;
    font-size: 9px;
    color: #bdbdbd;
}

.text_by_site {
    font-weight: 400;
    font-size: 9px;
    color: #bdbdbd;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .banner {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-gap: 15px;
        align-items: center;
        padding-left: 50px;
        
    }

    .text_title {
        font-size: 40px;
        line-height: 120%;
        letter-spacing: .02em;
    }

    .text_title_content {
        font-size: 16px;
        line-height: 120%;
        letter-spacing: .005em;
        margin-bottom: 12px;
    }

    .text_title_content_p {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: .0025em;
    }

    .btn_content {
        margin: 16px 0 40px;
        min-width: 185px;
        font-size: 15px;
    }

    .block_icons {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 0;
    }

    .img_icon {
        width: 100px;
    }

    .text_title_slider {
        font-size: 36px;
        line-height: 120%;
    }

    .text_title_slider_span {
        color: #001e41;
    }

    .block_arrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .block_img {
        padding: 10px 30px;
    }

    .img {
        width: 370px;
        height: 442px;
    }

    .diagram_one {
        border-radius: 4px;
        width: 152px;
        height: 77px;
        top: 270px;
        left: -45px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
        background: #fff;
        transform: rotate(-7deg);
    }

    .diagram_two {
        border-radius: 9px;
        width: 173px;
        height: 132px;
        top: -3%;
        left: -5%;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
        transform: rotate(-7deg);
    }

    .diagram_three {
        border-radius: 2px;
        width: 155px;
        height: 80px;
        top: 20%;
        left: 63%;
        transform: rotate(13deg);
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
    }

    .slider_card {
        width: 301px;
        height: 372px;
        border: 1px solid #ddd;
    }

    .text_end {
        max-width: 440px;
        width: 100%;
        margin: 0;
        font-size: 14px;
    }

    .label_text {
        font-size: 14px;
    }

    input.form-control {
        font-size: 16px;
    }

    .text_check {
        font-size: 12px;
    }

    .text_by {
        font-size: 12px;
    }

    .text_by_site {
        font-size: 12px;
    }
}

